<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'project.css')}}">
</head>
<body>
<nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/projects">Projects</a> |
    <a href="/contact">Contact</a>
</nav>
<h1>About me</h1>
<p>Hello! I am Python developer. Check out my projects.</p>
<h2>Skills</h2>
<ul>
    <li>Python (Flask, Django)</li>
    <li>Backend Development</li>
    <li>Aws Cloud</li>
    <li>Sql and Databases</li>
    <li>Automation and Web Scraping</li>
    <li>Version control(Git, Github)</li>
</ul>
<h2>Education</h2>
<p>B.Tech in Computer Science & Engineering</p>
</body>
</html>