<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPortfolio</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'project.css')}}">
</head>
<body>
<nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/projects">Projects</a> |
    <a href="/contact">Contact</a>
</nav>
<h1>Welcome To My Portfolio</h1>
<h1>About me</h1>
<p>Hello! I am Python developer. Check out my projects.</p>
<h2>Skills</h2>
<ul>
    <li>Python (Flask, Django)</li>
    <li>Backend Development</li>
    <li>Aws Cloud</li>
    <li>Sql and Databases</li>
    <li>Automation and Web Scraping</li>
    <li>Version control(Git, Github)</li>
</ul>
<h2>Education</h2>
<p>B.Tech in Computer Science & Engineering</p>
<h1>My Projects</h1>
<div class="projects-container">
<div class = "project-card">
    <h2>Weather App</h2>
    <p>A simple python project to find weather report of cities all around the world.</p>
    <a href = "https://github.com/Gurjantthaman/Myrepo/blob/main/Weatherapp" target="_blank">View on Github</a>
</div>

<div class = "project-card">
    <h2>Library Management System</h2>
    <p>This projects uses Python and Mysql to manage and store book information according to student needs. </p>
    <a href = "https://github.com/Gurjantthaman/Myrepo/blob/main/Library_Management.py" target="_blank">View on Github</a>
</div>

<div class = "project-card">
    <h2>Perfect Guess Game</h2>
    <p>A simple Python Game where the user has to guess the randomly generated number. </p>
    <a href = "https://github.com/Gurjantthaman/Myrepo/blob/main/The_Perfect_Guess.py" target="_blank">View on Github</a>
</div
</div>
<div class="container contact-section">
    <h2>Contact Me</h2>
    <form action = "/contact" method = "post">
        <label for = "name">Name: </label>
        <input type = "text" id = "name" name = "name" required>

        <label for = "email">Email: </label>
        <input type = "email" id = "email" name = "email" required>

        <label for = "message">Message: </label>
        <textarea id = "message" name = "name" required> </textarea>

        <button type = "submit">Send Message</button>
    </form>
</div>
</body>
</html>